<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dstar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{722,766}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{722,766}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>dstar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,764},{742,758}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{742,758}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>dstar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{760,750}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{760,750}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>dstar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{688,766}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{688,766}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>dstar5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{740,766}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{740,766}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dstar.png</string>
            <key>size</key>
            <string>{1522,2166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb710b50c3a6f2cbdf81feb6ae2ce739:12953c1dd9d6caeaa57095ff48f14483:25afbd9370e8591ffd83b2dd56062467$</string>
            <key>textureFileName</key>
            <string>dstar.png</string>
        </dict>
    </dict>
</plist>
