<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,890},{76,72}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,209},{76,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{102,108}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,194},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{116,138}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,164},{116,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{144,146}}</string>
                <key>offset</key>
                <string>{-17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,164},{144,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{202,196}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,148},{202,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,202}}</string>
                <key>offset</key>
                <string>{-16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,142},{216,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{206,200}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,144},{206,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{206,200}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,144},{206,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{206,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee77fd984eb1351409979ce3f261332b:2b5e4efdc7e119e941941c78f5bce4ea:c5a2c42043f2b0dda1e7e7adb0cc6144$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
