<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{185,56}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,99},{185,56}}</string>
                <key>sourceSize</key>
                <string>{265,256}</string>
            </dict>
            <key>missile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,76}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,88},{229,76}}</string>
                <key>sourceSize</key>
                <string>{265,256}</string>
            </dict>
            <key>missile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{221,124}}</string>
                <key>offset</key>
                <string>{-22,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{221,124}}</string>
                <key>sourceSize</key>
                <string>{265,256}</string>
            </dict>
            <key>missile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{221,146}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,71},{221,146}}</string>
                <key>sourceSize</key>
                <string>{265,256}</string>
            </dict>
            <key>missile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{221,134}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{221,134}}</string>
                <key>sourceSize</key>
                <string>{265,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missiles.png</string>
            <key>size</key>
            <string>{233,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd0ad337a687ca281b5c47d85461334b:01a5aa4175e1de11853447614fef203d:edeba72981955e716939bca5fe100e7c$</string>
            <key>textureFileName</key>
            <string>missiles.png</string>
        </dict>
    </dict>
</plist>
